body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #add8e6; /* Baby blue background */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff; /* White text */
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #add8e6; /* Baby blue border */
    border-radius: 8px;
    background-color: #fff; /* White background */
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #333; /* Dark text */
    background-color: #add8e6; /* Baby blue background */
    border-bottom: 2px solid #fff; /* White bottom border */
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 16px;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #add8e6; /* Baby blue background */
    color: #fff; /* White text */
}
