
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #232f3e;
  color: #ffffff;
  padding: 20px;
}

.navbar {
  background-color: #ff9900;
  color: #ffffff;
  padding: 10px;
}

.main-content {
  padding: 20px;
}

.footer {
  background-color: #232f3e;
  color: #ffffff;
  padding: 20px;
}


.header h1 {
  font-size: 32px;
}

.navbar ul {
  list-style: none;
}

.main-content .product {
 
}

.footer p {
  font-size: 14px;
  text-align: center;
}
